@font-face {
    font-family: "GT Walsheim";
    src: url('recursos\Fuentes\GT-Walsheim-Regular.ttf') format('truetype');
  }

body{
    font-family: GT Walsheim;
}

header{
    font-size: 18px;
}

section{
    font-size: 36px;
}


.botoncito{
    background:#1B26BC;
    border: 2px #1B26BC;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    outline:none;
    position:relative;
    top:0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    font-family: GT Walsheim;
    font-size:20px;
    color:white;
    padding: 10px 20px 10px 20px;
    margin-right:15px;
    margin-bottom:15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.imagen1 {
    
}

.bloque1{
    margin:90px;

}



.textito {
    font-weight:600;
}

.texto {    
    font-weight:36px;
    line-height: 19px;
}

.textos2 {
    font-size:35px;
    font-family: GT Walsheim;
    color:#1B26BC;
    background-color: #FFCBCD;
    text-align:center;

}
.mb-3 {
    font-weight: 800;
}

.seccion2 {
    background-color: #FFCBCD;
}